@media only screen and (max-width: 1200px) {
    .menu li {
        margin: 0 10px;
    }

    .tel {
        margin-left: 30px;
    }

    .down-bar .catalog_btn {
        margin-right: 55px;
    }

    .lang {
        margin-left: 15px;
    }
}

@media only screen and (max-width: 1100px) {
    .menu li {
        margin: 0 7px;
    }

    .tel {
        margin-left: 30px;
    }

    .down-bar .catalog_btn {
        margin-right: 22px;
    }

    .logo {
        font-size: 20px;
    }

    .lang {
        margin-left: 10px;
    }

    .header-container {
        font-size: 13px;
    }
}

@media only screen and (min-width: 992px) {

    .navbar-toggle,
    .menu-down li.search_btn {
        display: none;
    }

}

@media only screen and (max-width: 992px) {
    .logo {
        font-size: 15px;
    }

    .top-bar {
        margin: 0 auto;

        .menu,
        .tel,
        .lang {
            display: none;
        }
    }

    .down-bar {
        margin: 0;

        .catalog_btn,
        .search_input,
        .reg,
        .login {
            display: none;
        }
    }

    .header-container {
        display: flex;
        align-items: center;
    }

    .menu-down {
        margin: 0;
    }

    .menu-down li {
        margin: 0 8px !important;

        &.search_btn {
            display: block;
        }
    }

    .product_img_link img {
        height: 90px;
    }

    .section_title {
        font-size: 23px;
        line-height: 25px;
        margin-bottom: 10px;
    }

    .products {
        margin: 0 -5px;

        .col-6 {
            padding: 0 5px 10px;
        }
    }

    .banner-3 {
        img {
            margin-bottom: 10px;
        }
    }

    .container {
        padding-right: 10px;
        padding-left: 10px;
    }

    .header-container {
        padding: 10px;
    }

    p.copyright {
        margin-top: 30px;
        text-align: left;
        font-size: 13px;
        line-height: 18px;

        br {
            display: none;
        }
    }

    .footer .col-6 {
        margin-top: 10px;
    }

    .features-item {
        margin-bottom: 15px;
    }

    .banner.mt-30.mb-30 {
        margin: 10px 0 !important;
    }

    .banner-2.mb-30 {
        margin-bottom: 20px !important;

        .col-md-6 {
            margin-bottom: 10px;
        }
    }

    .blocks-3 {
        .col-md-4 {
            margin-bottom: 15px;
        }
    }

    .mt-30.mb-30.banner-3 {
        margin: 10px -15px !important;
    }

    .features-item .features-content {
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
    }
    .nav-tabs-line .nav-item {
    font-size: 13px;
}
.tab-content {
    padding: 15px;
}
.title {
    font-size: 18px;
    line-height: 23px;
}
.product_price .new {
    font-size: 25px;
.sum {
    font-size: 18px;
}
}
.product_price .old {
    font-size: 18px;
}
}